body {
    /* background: linear-gradient(to right, #EEF8FF, #323d94); */
    font-family: cursive !important;
}

.main {
    background: linear-gradient(0deg, #00121d, #ff0000);
    /* background: #323d94; */
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    border-radius: 100%;
    padding: 19px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    align-self: center;
    text-align: center;
}

.fa-arrow-up {
    color: #fff;
    width: 30px;
    /* height: 60px; */
    align-self: center;

}

img {
    border-radius: 10px;
}

.text {
    font-size: 15px;
}

.sub-text {
    font-size: 12px;
    color: gray;
}

button#dropdown-basic {
    background-color: ghostwhite;
    font-weight: "bold";
    width: 200px;
    height: 50px;
    font-size: 14px;
}

p.plain-list {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.date {
    font-size: 12px;
    color: gray;
}

.list-section {
    border-bottom: 2px solid #e6e9f3;
    margin-bottom: -7px;
}

.time-period {
    text-align: start;
    /* padding-top: 5px; */
    margin-bottom: -12px;
    font-weight: 800;
    color: gray;
}

.live-card {
    width: 430px;
    background: linear-gradient(to right, #000, #fb0f0f);
    border-radius: 20px;
    padding: 22px;
    padding-top: 40px;
    rotate: 1deg;
    -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(761px) rotateY(21deg);
    transition: 0.5s;

}
.live-card:hover {
    box-shadow: 5px 5px 5px 5px #323d94;
    cursor: pointer;
    background: linear-gradient(to right, #323d94, #000);
    transform: perspective(761px) rotateY(-6deg);

}

.flag-contain {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.player-card {
    height: 160px;
    background: linear-gradient(to right, #000, #323d94);
    border-radius: 30px;
    display: flex;
    margin: 7px;
    margin-bottom: 19px;
    /* transition: width 2s, height 4s; */
    rotate: 1deg;
    -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(761px) rotateY(21deg);
    transition: 0.5s;
}

.player-card:hover {
    /* border: 1px solid #323d94; */
    box-shadow: 5px 5px 5px 5px #323d94;
    cursor: pointer;
    background: linear-gradient(to right, #fff, #000);
    /* height: 165px; */
    margin-bottom: 20px;

}

.new-part {
    margin-top: 28px;
}

p {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: justify !important;
}

.news-heading {
    font-size: 23px;
    text-align: start;
    color: #000;
    letter-spacing: 0.3px;
}
.cont-heading{
    font-size: 23px;
    text-align: start;
    color: #fff;
    letter-spacing: 0.3px; 
}
a {
    text-decoration: none !important;
}

.news-img {
    -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(750px) rotateX(-15deg);
    transition: 0.5s;
}

.team-img {
    /* -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004); */
    transform-origin: center;
    transform: perspective(750px) rotateY(18deg);
    transition: 0.5s;
}

.team-img:hover {
    /* -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004); */
    transform-origin: center;
    transform: perspective(750px) rotateY(-18deg);
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px #323d94;
    cursor: pointer;
    background: linear-gradient(to right, #fff, #000);
    border-radius: 20px;
}

/* https://cssgradient.io/gradient-backgrounds/ */


.animate-border {
    position: relative;
    display: block;
    width: 120px;
    height: 5px;
    background: #323d94;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 5px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-orange:after {
    border-right-color: #323d94;
    border-left-color: #323d94;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


a i.fa-facebook {
    background-color: #3B5998;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    padding: 14px;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
}

a i.fa-twitter {
    background-color: #55ACEE;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    padding: 14px;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
}

a i.fa-google-plus {
    background-color: #DD4B39;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    padding: 14px;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
}

a i.fa-linkedin {
    background-color: #0976B4;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    padding: 14px;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
}

a i.fa-instagram {
    background: linear-gradient(to top, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    padding: 14px;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
}


ul li {
    list-style: none;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}



.copyright {
    padding: 18px 0;
    /* margin-top: 55px; */
    background-color: #202020;
    /* height: 60px; */
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 15px;
}

.copyright a:hover {
    color: #fb0f0f;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}
.footer-social-link{
    padding-top: 35px;
}
.row{
    padding-top: 30px;
}
.cont-text{
    font-size: 16px;
    color: gray !important;
    font-weight: bold;
}

.form-field{
    background: #202020;
    padding: 12px;
    color: #fff;
    width: 500px;
    border-radius: 10px;
    margin: 22px 2px 20px 2px;
    border: none;
    font-size: 15px;
    height: 50px;
}
.submit-btn{
    background: linear-gradient(to right, #000, #fb0f0f);
    padding: 12px;
    color: #fff;
    width: 100px;
    border-radius: 10px;
    margin: 22px 2px 20px 2px;
    border: none;
    font-size: 15px;  
    height: 50px;

}
.nnnn{
    color: linear-gradient(to right, #000, #fb0f0f);
font-size: 40px;
}