
div .section-title {
  animation: customScale 1s ease-in-out 3s 1 forwards;
}



div .section-title > span img  {
  position: absolute;
    bottom: -19px;
    z-index: 2;
  -webkit-animation: section-animation 3s infinite;
  animation: section-animation 3s infinite;
}

div .head-main span.yellow-bg-big img {
  bottom: 15px;
  width: 120%;
  -webkit-animation: section-animation-2 3s infinite;
  animation: section-animation-2 3s infinite;
}
div .head-maine span.yellow-bg-sm img {
  bottom: 10px;
  width: 120%;
  -webkit-animation: section-animation-2 3s infinite;
  animation: section-animation-2 3s infinite;
}
span > .ball-image {
-webkit-animation:spin 4s linear infinite !important;
    -moz-animation:spin 4s linear infinite  !important;
    animation:spin 4s linear infinite !important;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.section-title span  {
    display: block;
    
   /*  Animation decalaration   */
    animation-name: moveInRight;
    animation-duration: 3s;
      -webkit-animation: moveInRight 3s 1;
  animation: moveInRight 3s 1;
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform:  translateX(-70%);
        background: red;
/*        opacity: .06;*/
    }

    50% {
        transform:  translateX(2%);
/*        opacity: .5;*/

    }
    
    100% {
/*        opacity: -1;*/
        transform:  translateX(-1%);
    }


}

.devider{
    width: 95%;
    margin-left: 2%;
    height: 6px;
    margin-bottom: 30px!important;
    border-radius: 20px;
    background: linear-gradient(90deg, #2a2626bf, #e30e0e, #261313b5);

}

canvas {
        display: block;
        left: 59%;
        margin: -169px 0 0 -202px;
        position: absolute;
/*        top: 50%;*/
        transform: rotateZ(-90deg);
        z-index: -1;
}



.section-heading-large {
  position: relative;
  margin-bottom: 20px
}

.section-heading-large a {
  text-decoration: none
}

.section-heading-large a:hover {
  text-decoration: none;
  color: #ff6125
}

.section-heading-large:after {
  border-bottom: 6px solid #e8e7e7;
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  z-index: -1
}

.section-heading-large h2 {
  margin-bottom: 0;
  line-height: 1;
  background: #fff;
  text-transform: uppercase;
  display: inline;
  padding: 0 12px 0 15px;
  position: relative;
  font-size: 30px;
  font-weight: 700
}

.section-heading-large h2:before {
  width: 6px;
  height: 70%;
  top: 15%;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ff0000
}

.section-heading-large.small h2 {
  font-size: 21px;
  padding: 0 5px 0 15px
}
/*canvas {
    display: block;
    left: 58%;
    margin: -153px -4px -16px -212px;
    position: absolute;
    top: 50%;
    transform: rotateZ(-90deg);
    z-index: -1;
}*/