.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* start from here  */

.App {
  color: aqua;
}

/*linear-gradient(to bottom, #EEF8FF, #323d94)*/
.header-section {
  height: 70px;
  width: '100%';
  background: linear-gradient(180deg, #3d0602f7, #ff0000);
  /* background: rgba(0, 0, 0, 0.2); */
  /* -webkit-transform: matrix('60%'); */
  /* opacity: 0.7; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header-text {
  color: #fff;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.header-text:hover {
  color: #323d94;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.icon {
  font-size: 22px;
}

.banner-card {
  height: 144px;
  width: 193px;
  background: linear-gradient(92deg, #00121d, #ff0000);
  border-radius: 15px;
  margin: 3px;
  text-align: center;
  padding: 38px;
  color: #fff;
  display: none;
}

.home-card {
  /* height: 184px; */
  /* width: 254px; */
  background: #323d94;
  margin: 12px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  animation-name: example;
  animation-duration: 1s;
  padding-bottom: 7px;
  border-bottom-left-radius: 70px;
  /* -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004); */
  transform-origin: center;
  transform: perspective(750px) rotateY(10deg);
  transition: 0.5s;
}

.video {
  border-radius: 20px;
  border-bottom-left-radius: 60px;
  border: 0px solid #fff;
}

.bg-section {
  background: #ffffff;
  width: '100%';
  /* margin-top: 5px; */
  padding: 22px 65px 22px 65px;
}

.plain-section {
/*  background: #fff;*/
  width: '100%';
  padding: 10px 60px 5px 60px;
  margin: 5px 65px 5px 65px;
  border-radius: 20px;
}

.quiz-section {
  justify-content: center;
  display: flex;
  margin-top: 25px;
  padding-bottom: 26px;
}

.card-container {
  display: flex;
  justify-content: center;
}

div.polaroid {
  width: 290px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  /* background-color: white; */
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.polaroid:hover {
  /* border: 1px solid #323d94; */
  box-shadow: 5px 5px 5px 5px #323d94;
  z-index: 10;
  cursor: pointer;
  background: linear-gradient(to right, #323d94, #000);

}

div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Safari */
  transform: rotate(7deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}

.light-h4 {
  color: white;
}

.light-caption {
  color: white;

}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg);
  /* IE 9 */
  -webkit-transform: rotate(-8deg);
  /* Safari */
  transform: rotate(-8deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}

.w-text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center !important;
  padding-top: 12px;
}

.p-text {
  color: #FB4570;
  font-size: 16px;
  font-weight: bold;
  text-align: center !important;
  margin-top: -7px;


}

.see-more-home {
  padding-right: 90px;
  font-size: 17px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
  padding-top: 25px;
}

.d-flew {
  display: flex !important;
  justify-content: space-between !important;
}

.live-section {
  display: flex;
  margin: 10px;
  width: '100%';
  margin-top: 20px;
}

.see-more {
  font-size: 15px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

.see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all {
  padding-right: 20px;
  font-size: 14px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

a#nav-dropdown-dark-example {
  background: none !important;
  color: #fff;
}

.banner-heading {
  padding: 15;
  position: absolute;
  top: 110px;
  right: 50px;
  font-weight: '500';
  font-size: 40px;
  color: #fff;
}

.caption {
  color: #fff;
  font-size: 13px;
}

.fa-group {
  color: #fff;
  font-size: 15px;
  padding-bottom: 10px;
}

.h4 {
  font-size: 16px;
  color: #fff;
}

.dark-caption {
  color: #000;
  font-size: 13px !important
}

.fa-group {
  color: #fff;
}

.dark-h4 {
  font-size: 16px;
  color: #000;
}

.dropdown-text {
  width: 175px;
  font-size: 13px;
}

.dropdown-text:hover {
  text-decoration: none;
}

.dropdown-heading {
  width: 175px;
  font-weight: '800';
  font-size: 12px;
  color: #323d94;
  padding-top: 5px;
  padding-left: 7px;
}

.heading {
  text-align: center;
  color: #AE0E36FF;
  margin-bottom: 5px;
  font-size: 38px;
  /* text-shadow: 1px 1px 2px #fff, 0 0 25px #AE0E36FF, 0 0 5px #AE0E36FF; */
  font-weight: 600;
}

h1 {
  color: black;
  text-align: start;
  padding-bottom: 10px;
}

.mg-top {
  margin-top: 25px;
}

.p-gray {
  color: gray;
  font-size: 14px;
}

Col {
  font-size: 20px !important;
}

/* start css shashi */
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: 0 0;
  border: none !important;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 74%;
}

a.nav-link {
  background: linear-gradient(to right, #fff, #c93a3e) !important;
  border-radius: 24px !important;
  color: white !important;
  border: none !important;
}

a.nav-link.active {
  /* height: 75%; */
  /* display: flex; */
  /* justify-content: flex-end; */
  align-self: center;
}

.d-text {
  font-size: 13px;
}

.d-text:hover {
  text-decoration: none;
}

.month {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.gallery-img {
  float: left;
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 3px;
  height: 200px;
  width: 350px;
  position: absolute;

}

.gallery-img1 {
  float: left;
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 3px;
  height: 200px;
  width: 290px;
  position: absolute;
}

/* .gallery-1{
  position: absolute;
  left: 120px;
}

.gallery-2{
  position: absolute;
  left: 480px;
}
.gallery-3{
  position: absolute;
  left: 840px;
}
.gallery-4{
  position: absolute;
  left: 1200px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-wrapper{
  width: 48px;
  display: flex;
  align-items: center;
}

img{
/*  width: 100%;*/
}

.link-wrapper{
  background: #111;
  color: #E1E1E1 !important;
  width: 185px;
  height: 48px;
  text-decoration: none;
  padding: 28px 16px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  align-self: center;
  margin-top: 30px !important;
  margin: auto;
}

.content-wrapper{
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  flex-direction: column;
  width: 140px;
}



@media all and (min-width:569px) and (max-width: 768px) {

  /* put your css styles in here */
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .plain-section {
    background: #fff;
    width: '100%';
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: none;
  }


  .main-box {
    height: 100%;
    /* border: 2px solid; */
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    display: grid;
    grid-gap: 10px;
  }


  .box:nth-child(1) {
    grid-row: 1/42;
    grid-column: 1/3;

  }

  .bg-section {
    background: #e6e9f3;
    width: '100%';
    margin-top: 5px;
    padding: 9px 10px 10px 10px;
  }

  .heading {
    font-size: 20px;
  }

  .main-news {
    height: 100%;
    /* border: 2px solid;
     */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    grid-gap: 10px;
  }

  .news:nth-child(1) {
    /* grid-row: 1/2;
     */
     grid-column: 1/1 !important;
     
     background: url(https://i.postimg.cc/XJy69cVq/img1.jpg) no-repeat center center/ cover;
     
    background: #000;
  }

  img {
    width: 100%;
  }

}

@media all and (min-width:481px) and (max-width: 568px) {

  /* put your css styles in here */
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .plain-section {
    background: #fff;
    width: '100%';
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: none;
  }

  .main-box {
    height: 100%;
    /* border: 2px solid; */
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    display: grid;
    grid-gap: 10px;
  }


  .box:nth-child(1) {
    grid-row: 1/42;
    grid-column: 1/3;
  }

  .bg-section {
    background: #e6e9f3;
    width: '100%';
    margin-top: 5px;
    padding: 9px 10px 10px 10px;
  }

  .heading {
    font-size: 20px;
  }

  .main-news {
    height: 100%;
    /* border: 2px solid;
     */
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    display: grid;
    grid-gap: 10px;
  }

  .news:nth-child(1) {
    /* grid-row: 1/2;
     */
     grid-column: 1/1 !important;
     
     background: url(https://i.postimg.cc/XJy69cVq/img1.jpg) no-repeat center center/ cover;
     
    background: #000;
  }

  img {
    width: 100%;
  }

}

@media all and (min-width:321px) and (max-width: 480px) {

  /* put your css styles in here */
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .plain-section {
    background: #fff;
    width: '100%';
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: none;
  }

  .main-box {
    height: 100%;
    /* border: 2px solid; */
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    display: grid;
    grid-gap: 10px;
  }


  .box:nth-child(1) {
    grid-row: 1/42;
    grid-column: 1/3;
  }

  .bg-section {
    background: #e6e9f3;
    width: '100%';
    margin-top: 5px;
    padding: 9px 10px 10px 10px;
  }

  .heading {
    font-size: 20px;
  }

  .main-news {
    height: 100%;
    /* border: 2px solid;
     */
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    display: grid;
    grid-gap: 10px;
  }

  .news:nth-child(1) {
    /* grid-row: 1/2;
     */
    grid-column: 1/1 !important;
     
     background: url(https://i.postimg.cc/XJy69cVq/img1.jpg) no-repeat center center/ cover;
     
    background: #000;
  }

  img {
    width: 100%;
  }
  .ourteam {
      --border-size: 3px;
      --border-angle: 0turn;
      padding: 3px;
      width: 84vmin;
      height: 84vmin;
      object-fit: cover;
      flex-direction: column;
  }
  .m-cr-team{
    flex-direction: column;
  }
  .rankings-card__player-image{
    width: 52% !important;
  }
}


@media all and (min-width:0px) and (max-width: 320px) {

  /* put your css styles in here */
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

  .plain-section {
    background: #fff;
    width: '100%';
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: none;
  }

  .main-box {
    height: 100%;
    /* border: 2px solid; */
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    display: grid;
    grid-gap: 10px;
  }


  .box:nth-child(1) {
    grid-row: 1/42;
    grid-column: 1/3;
  }

  .bg-section {
    background: #e6e9f3;
    width: '100%';
    margin-top: 5px;
    padding: 9px 10px 10px 10px;
  }

  .heading {
    font-size: 20px;
  }

  .main-news {
    height: 100%;
    /* border: 2px solid;
     */
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    display: grid;
    grid-gap: 10px;
  }

  .news:nth-child(1) {
    /* grid-row: 1/2;
     */
     grid-column: 1/1 !important;
     
     background: url(https://i.postimg.cc/XJy69cVq/img1.jpg) no-repeat center center/ cover;
     
    background: #000;
  }

  img {
    width: 100%;
  }


}

.bg-section-time-line {
  margin-bottom: 30px;
      margin-top: 15px;
}


.x-bg-ul{
  background:  rgb(50, 61, 148);
}

 /* Start Divider Section */
 .divider {								/* minor cosmetics */
  display: table; 
  font-size: 38px;
  font-weight: 600;
  color: #AE0E36FF;
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 30px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
   padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}

/* End Divider Section */
/** Side Tab Sticky Button **/
#side-sticky-tab {
    position: fixed;
    top: 25vh;
    right: 50px;
    z-index: 12;
  
  }
  
  #side-sticky-tab div {
    margin: 0px;
    padding: 0px;
  }
  
  #side-sticky-tab .sticky-container{
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      -webkit-box-shadow: -10px 0px 25px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -10px 0px 25px -1px rgba(0, 0, 0, 0.05);
    box-shadow: -10px 0px 25px -1px rgba(0, 0, 0, 0.45);
  
    border-radius: 6px 6px 0px 0px;
    right: -168px;
    position:fixed;  
    transition-property: right;
    transition-duration: .6s;
  }
  
  #side-sticky-tab .sticky-container:hover{
    right: 0px;
  }
  
  #side-sticky-tab .callout {  
    position: relative;
    display:block;
    border-radius: 6px 6px 0px 0px;  
  }
  
  
  #side-sticky-tab .slideout {
    position:relative;
    vertical-align:middle;
    height: 180px;
    display:block;
    background-color: rgba(170,170, 170, .5);
     -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  
  }
  
  #side-sticky-tab .slideout .inner{
    padding-top: 16%;
    padding-bottom: 16%;
    text-align:center;
    
  }
  
  #side-sticky-tab .callout a {
    color: white;
    background-color: #CC0000;
    height: 40px;
    width: 180px;
    margin: 0;
    padding: 0;
    z-index: 9999;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
  }
  
  #side-sticky-tab a:hover {
    background-color: #8c0000;
  }
  /** End Side Tab Sticky Button **/


  .text {
    text-align: center;
    color: white;
    margin: 10%;
  }
  
  /* nav {
      height: 44px;
      background: #000;
  } */
  
  .menu {
      position: relative;
      margin: 0 auto;
      width: 1000px;
      overflow: hidden;
  }
  
  .menu ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
  }
  
  .menu ul li {
      list-style: none;
  }
  
  .menu ul li,
  .menu ul li a{
      color: #fff;
      line-height: 44px;
      text-decoration: none;
  }
  
  .menu ul li .fa.fa-apple {
      font-size: 20px;
  }
  
  .menu ul li a.menu-item {
      transform: scale(1);
      transition: 0.5s;
      display: block;
  }
  
  .menu ul li a.menu-item.hide-item {
      transform: scale(0);
  }
  
  .menu ul li:nth-child(2) a.menu-item.hide-item {
      transition-delay: 0.6s;
  }
  
  .menu ul li:nth-child(3) a.menu-item.hide-item {
      transition-delay: 0.5s;
  }
  .menu ul li:nth-child(4) a.menu-item.hide-item {
      transition-delay: 0.4s;
  }
  .menu ul li:nth-child(5) a.menu-item.hide-item {
      transition-delay: 0.3s;
  }
  .menu ul li:nth-child(6) a.menu-item.hide-item {
      transition-delay: 0.2s;
  }
  .menu ul li:nth-child(7) a.menu-item.hide-item {
      transition-delay: 0.1s;
  }
  .menu ul li:nth-child(8) a.menu-item.hide-item {
      transition-delay: 0s;
  }
  
  .menu ul li:nth-child(2) a.menu-item {
      transition-delay: 0s;
  }
  
  .menu ul li:nth-child(3) a.menu-item {
      transition-delay: 0.1s;
  }
  .menu ul li:nth-child(4) a.menu-item {
      transition-delay: 0.2s;
  }
  .menu ul li:nth-child(5) a.menu-item {
      transition-delay: 0.3s;
  }
  .menu ul li:nth-child(6) a.menu-item {
      transition-delay: 0.4s;
  }
  .menu ul li:nth-child(7) a.menu-item {
      transition-delay: 0.5s;
  }
  .menu ul li:nth-child(8) a.menu-item {
      transition-delay: 0.6s;
  }
  
  
  .search-form {
      position: absolute;
      top: 5px;
      left: 94%;
      transform: translateX(0);
      width: 600px;
      height: 44px;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
  }
  .search-form.active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
      transform: translateX(-50%);
  }
  
  .search-form input {
      width: 100%;
      height: 44px;
      background: transparent;
      color: #fff;
      border: none;
      outline: none;
      font-size: 16px;
  }
  .search-form input::placeholder {
      color: #fff;
  }
  
  .search-form:before {
      content: '\f002';
      position: absolute;
      top: 12px;
      left: -26px;
      font-size: 18px;
      color: #fff;
      font-family: fontAwesome;
  }
  
  .close {
      position: absolute;
      height: 44px;
      color: #fff!important;
      line-height: 44px;
      font-size: 18px;
      text-align: right;
      width: 20px;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      z-index: 12;
      top: 9px;
      right: 100px;
      height: 44px;
      background: #f0f8ff00;
  }
  
  .close.active {
      opacity: 1;
      visibility: visible;
  }

