.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* start from here  */

.App {
  color: aqua;
}

/*linear-gradient(to bottom, #EEF8FF, #323d94)*/
.header-section {
  height: 70px;
  width: '100%';
  background: linear-gradient(180deg, #3d0602f7, #ff0000);
  /* background: rgba(0, 0, 0, 0.2); */
  /* -webkit-transform: matrix('60%'); */
  /* opacity: 0.7; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header-text {
  color: #fff;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.header-text:hover {
  color: #323d94;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.icon {
  font-size: 22px;
}

.banner-card {
  height: 144px;
  width: 193px;
  background: linear-gradient(92deg, #00121d, #ff0000);
  border-radius: 15px;
  margin: 3px;
  text-align: center;
  padding: 38px;
  color: #fff;
  display: none;
}

.home-card {
  /* height: 184px; */
  /* width: 254px; */
  background: #323d94;
  margin: 12px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  animation-name: example;
  animation-duration: 1s;
  padding-bottom: 7px;
  border-bottom-left-radius: 70px;
  /* -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004); */
  transform-origin: center;
  transform: perspective(750px) rotateY(10deg);
  transition: 0.5s;
}

.video {
  border-radius: 20px;
  border-bottom-left-radius: 60px;
  border: 0px solid #fff;
}

.bg-section {
  background: #e6e9f3;
  width: '100%';
  /* margin-top: 5px; */
  padding: 22px 65px 22px 65px;
}

.plain-section {
  background: #fff;
  width: '100%';
  padding: 20px 60px 15px 60px;
  margin: 15px 65px 15px 65px;
  border-radius: 20px;
}

.quiz-section {
  justify-content: center;
  display: flex;
  margin-top: 25px;
  padding-bottom: 26px;
}

.card-container {
  display: flex;
  justify-content: center;
}

div.polaroid {
  width: 290px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  /* background-color: white; */
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.polaroid:hover {
  /* border: 1px solid #323d94; */
  box-shadow: 5px 5px 5px 5px #323d94;
  z-index: 10;
  cursor: pointer;
  background: linear-gradient(to right, #323d94, #000);

}

div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Safari */
  transform: rotate(7deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}

.light-h4 {
  color: white;
}

.light-caption {
  color: white;

}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg);
  /* IE 9 */
  -webkit-transform: rotate(-8deg);
  /* Safari */
  transform: rotate(-8deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}

.w-text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center !important;
  padding-top: 12px;
}

.p-text {
  color: #FB4570;
  font-size: 16px;
  font-weight: bold;
  text-align: center !important;
  margin-top: -7px;


}

.see-more-home {
  padding-right: 90px;
  font-size: 17px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
  padding-top: 25px;
}

.d-flew {
  display: flex !important;
  justify-content: space-between !important;
}

.live-card {
  /* width: 80%; */
}

.l-card {
  margin-top: 20px !important;
  width: 100% !important;
  height: 190px !important;
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 20px !important;
  padding: 15px;
  /* padding-top: 35px; */
}

.l-card:hover {
  box-shadow: 5px 5px 5px 5px #323d94;
  cursor: pointer;
  background: linear-gradient(to right, #323d94, #000);
}

.live-section {
  margin-top: 20px;
  width: 95% !important;
  /* height: 92% !important; */
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 20px;
  padding: 22px;
  padding-top: 35px;
  rotate: 1deg;
  -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(761px) rotateY(21deg);
  transition: 0.5s;
}

.live-section:hover {
  box-shadow: 5px 5px 5px 5px #323d94;
  cursor: pointer;
  background: linear-gradient(to right, #323d94, #000);
  transform: perspective(761px) rotateY(-6deg);
}

.see-more {
  font-size: 15px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

.see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all {
  padding-right: 20px;
  font-size: 14px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

a#nav-dropdown-dark-example {
  background: none !important;
  color: #fff;
}

.banner-heading {
  padding: 15;
  position: absolute;
  top: 110px;
  right: 50px;
  font-weight: '500';
  font-size: 40px;
  color: #fff;
}

.caption {
  color: #fff;
  font-size: 13px;
}

.fa-group {
  color: #fff;
  font-size: 15px;
  padding-bottom: 10px;
}

.h4 {
  font-size: 16px;
  color: #fff;
}

.dark-caption {
  color: #000;
  font-size: 13px !important
}

.fa-group {
  color: #fff;
}

.dark-h4 {
  font-size: 16px;
  color: #000;
}

.dropdown-text {
  width: 175px;
  font-size: 13px;
}

.dropdown-text:hover {
  text-decoration: none;
}

.dropdown-heading {
  width: 175px;
  font-weight: '800';
  font-size: 12px;
  color: #323d94;
  padding-top: 5px;
  padding-left: 7px;
}

.heading {
  text-align: center;
  color: #AE0E36FF;
  margin-bottom: 5px;
  font-size: 38px;
  /* text-shadow: 1px 1px 2px #fff, 0 0 25px #AE0E36FF, 0 0 5px #AE0E36FF; */
  font-weight: 600;
}

h1 {
  color: black;
  text-align: start;
  padding-bottom: 10px;
}

.mg-top {
  margin-top: 25px;
}

.p-gray {
  color: gray;
  font-size: 14px;
}

Col {
  font-size: 20px !important;
}

/* start css shashi */
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: 0 0;
  border: none !important;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 74%;
}

a.nav-link {
  background: linear-gradient(to right, #fff, #c93a3e) !important;
  border-radius: 24px !important;
  color: white !important;
  border: none !important;
}

a.nav-link.active {
  /* height: 75%; */
  /* display: flex; */
  /* justify-content: flex-end; */
  align-self: center;
}

.d-text {
  font-size: 13px;
}

.d-text:hover {
  text-decoration: none;
}

.month {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.gallery-img {
  float: left;
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 3px;
  height: 200px;
  width: 350px;
  position: absolute;

}

.gallery-img1 {
  float: left;
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 3px;
  height: 200px;
  width: 290px;
  position: absolute;
}

/* .gallery-1{
  position: absolute;
  left: 120px;
}

.gallery-2{
  position: absolute;
  left: 480px;
}
.gallery-3{
  position: absolute;
  left: 840px;
}
.gallery-4{
  position: absolute;
  left: 1200px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-wrapper {
  width: 48px;
  display: flex;
  align-items: center;
}



.link-wrapper {
  background: #111;
  color: #E1E1E1 !important;
  width: 185px;
  height: 48px;
  text-decoration: none;
  padding: 28px 16px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  align-self: center;
  margin-top: 30px !important;
  margin: auto;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  flex-direction: column;
  width: 140px;
}


/* start other game card section*/
.cardWrapper {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 371px;
  height: 400px;
  left: 20px;
  top: 50px;
  margin: 2em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.topSection {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.bottomSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;
}

.bottomSection p {
  font-style: italic;
  font-family: "Lora", serif;
  font-size: 30px;
  line-height: 35px;
  display: flex;
}

.cardButton {
  height: 50px;
  width: 311px;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  align-self: center;
  line-height: 35px;
  cursor: pointer;
}

.clicked-card {
  width: 371px;
  height: 400px;
  left: 20px;
  top: 50px;
  margin: 2em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.emoji {
  font-size: 50px;
}

.clicked-card .topSection,
.clicked-card .bottomSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: 0;
  transition: 1s;
}

.clicked-card .topSection {
  top: 0;
}

.clicked-card .bottomSection {
  bottom: 0;
}

.clicked-card .topSection:hover {
  transition: 1s;
  height: 100%;
  z-index: 99;
  top: 0;
}

.clicked-card .bottomSection:hover {
  transition: 1s;
  height: 100%;
  z-index: 99;
  bottom: 0;
}

.mobile-score {
  display: none;
}

@media (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
  }

  .card {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 450px) {
  #live {
    background: #e6e9f3;
    width: '100%';
    /* margin-top: 5px; */
    padding: 22px 20px 22px 20px;
  }

  .live-section {
    margin-top: 20px;
    width: 95% !important;
    /* height: 92% !important; */
    background: linear-gradient(to right, #000, #fb0f0f);
    border-radius: 20px;
    padding: 22px;
    padding-top: 35px;
    rotate: 1deg;
    -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(761px) rotateY(21deg);
    transition: 0.5s;
    margin-left: -100px;
  }

  .web-score {
    display: none;
  }

  .mobile-score {
    display: block;
  }

  .l-text-info {
    display: none;
  }

  .list-section {
    /* border-bottom: 2px solid #e6e9f3; */
    /* margin-bottom: -7px; */
    padding: 0px 6px 0px 6px;
    display: flex;
    justify-content: space-between;
  }

  .color-circle {
    height: 45px;
    width: 45px;
    background: blue;
    padding: 9px;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .l-text {
    font-size: 15px;
    color: #000;
    padding-left: 25px;
  }

  .screen {
    border-radius: 40px;
   margin: auto;
   
  }
  .screen-text{
  margin-left: -70px !important;
  margin-top: 20px;
  }
}

/* end other game card section*/