body {
  /* background: linear-gradient(to right, #EEF8FF, #323d94); */
  font-family: cursive !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* start from here  */

.App {
  color: aqua;
}

/*linear-gradient(to bottom, #EEF8FF, #323d94)*/
.header-section {
  height: 70px;
  width: '100%';
  background: linear-gradient(180deg,#3d0602f7,#ff0000);
  /* background: rgba(0, 0, 0, 0.2); */
  /* -webkit-transform: matrix('60%'); */
  /* opacity: 0.7; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header-text {
  color: #fff;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.header-text:hover {
  color: #323d94;
  font-weight: 500;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
}

.icon {
  font-size: 22px;
}

.banner-card {
  height: 144px;
  width: 193px;
  background: linear-gradient(92deg,#00121d,#ff0000);
  border-radius: 15px;
  margin: 3px;
  text-align: center;
  padding: 38px;
  color: #fff;
  display: none;
}

.home-card {
  /* height: 184px; */
  /* width: 254px; */
  background: #323d94;
  margin: 12px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  animation-name: example;
  animation-duration: 1s;
  padding-bottom: 7px;
  border-bottom-left-radius: 70px;
  /* -webkit-box-reflect: below 7px linear-gradient(transparent, transparent, #0004); */
  transform-origin: center;
  transform: perspective(750px) rotateY(10deg);
  transition: 0.5s;
}

.video {
  border-radius: 20px;
  border-bottom-left-radius: 60px;
  border: 0px solid #fff;
}

.bg-section {
  background: #e6e9f3;
  width: '100%';
  margin-top: 15px;
  padding: 45px 80px 45px 80px;
}

.plain-section {
  background: #fff;
  width: '100%';
  padding: 45px 60px 80px 60px;
  margin: 115px 65px 25px 65px;;
  border-radius: 20px;
}

.quiz-section {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  /* padding-bottom: 25px; */
}

.card-container {
  display: flex;
  justify-content: center;
}

div.polaroid {
  width: 290px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  /* background-color: white; */
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.polaroid:hover {
  /* border: 1px solid #323d94; */
  box-shadow: 5px 5px 5px 5px #323d94;
  z-index: 10;
  cursor: pointer;
  background: linear-gradient(to right, #323d94, #000);

}

div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Safari */
  transform: rotate(7deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}
.light-h4 {
  color: white;
}
.light-caption {
  color: white;

}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg);
  /* IE 9 */
  -webkit-transform: rotate(-8deg);
  /* Safari */
  transform: rotate(-8deg);
  background: linear-gradient(to right, #000, #fb0f0f);
  border-radius: 15px;
}

.w-text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center !important;
  padding-top: 12px;
}

.p-text {
  color: #FB4570;
  font-size: 16px;
  font-weight: bold;
  text-align: center !important;
  margin-top: -7px;


}

.see-more-home {
  padding-right: 90px;
  font-size: 17px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
  padding-top: 25px;
}

.d-flew {
  display: flex !important;
  justify-content: space-between !important;
}

.live-section {
  display: flex;
  margin: 10px;
  width: '100%';
  margin-top: 20px;
}

.see-more {
  font-size: 15px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

.see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-all {
  padding-right: 20px;
  font-size: 14px;
  color: #323d94;
  text-align: right;
  text-decoration: underline;
  font-weight: '800';
}

a#nav-dropdown-dark-example {
  background: none !important;
  color: #fff;
}

.banner-heading {
  padding: 15;
  position: absolute;
  top: 110px;
  right: 50px;
  font-weight: '500';
  font-size: 40px;
  color: #fff;
}

.caption {
  color: #fff;
  font-size: 13px;
}

.fa-group {
  color: #fff;
  font-size: 15px;
  padding-bottom: 10px;
}

.h4 {
  font-size: 16px;
  color: #fff;
}

.dark-caption {
  color: #000;
  font-size: 13px !important
}

.fa-group {
  color: #fff;
}

.dark-h4 {
  font-size: 16px;
  color: #000;
}

.dropdown-text {
  width: 175px;
  font-size: 13px;
}

.dropdown-text:hover {
  text-decoration: none;
}

.dropdown-heading {
  width: 175px;
  font-weight: '800';
  font-size: 12px;
  color: #323d94;
  padding-top: 5px;
  padding-left: 7px;
}

.heading {
  text-align: center;
  color: #282c34;
  margin-bottom: 40px;
  font-size: 38px;
  text-shadow: 1px 1px 2px #fff, 0 0 25px blue, 0 0 5px #323d94;
  font-weight: 600;
  font-style: italic;
}

h1 {
  color: black;
  text-align: start;
  padding-bottom: 10px;
}

.mg-top {
  margin-top: 25px;
}

.p-gray {
  color: gray;
  font-size: 14px;
}

Col {
  font-size: 20px !important;
}

/* start css shashi */
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: 0 0;
  border: none !important;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 74%;
}

a.nav-link {
  background: linear-gradient(to right, #fff, #c93a3e) !important;
  border-radius: 24px !important;
  color: white !important;
  border: none !important;
}
a.nav-link.active {
  height: 75%;
  /* display: flex; */
    /* justify-content: flex-end; */
}
.d-text{
  font-size: 13px;
}
.d-text:hover {
  text-decoration: none;
}
.month{
  font-size: 15px;
  font-weight: bold;
  color: #000;
}




